/* Esto es un comentario en CSS*/

@import url("https://fonts.googleapis.com/css?family=DM+Sans:500,700&display=swap");

* {
  box-sizing: border-box;
}

* {
  font-family: Lucida Sans, Arial, Helvetica, sans-serif;
}

nav {
  /*background-color: #3FB5E6	border-radius: 25px;
para que el menu este horizontal
float left
float: left;
font-weight: bold;
list-style-type: none;
/* Margin espacios entre menu
margin: 10px 10px 40px 10px;
/* Tamaño de las casillas del menu 
padding: 15px 15px 15px 15px; */
  display: inline-flex;
  position: relative;
  overflow: hidden;
  max-width: 100%;
  background-color: #3fb5e6;
  padding: 0 20px;
  border-radius: 40px;
  box-shadow: 0 10px 40px;
}

/* a enlaces sin subrayado 
color de las letras del menu */

/* class va con .class en CSS */
.nav-item {
  color: white;
  padding: 20px;
  text-decoration: none;
  transition: 0.3s;
  margin: 0 6px;
  z-index: 1;
  font-family: "DM Sans", sans-serif;
  font-weight: 500;
  position: relative;
}
/* class va con .class en CSS */
.nav-item:not(.is-active):hover:before {
  opacity: 1;
  bottom: 0;
}
/* class va con .class en CSS */
.nav-item:not(.is-active):hover {
  color: #333;
}
/* class va con .class en CSS */
.nav-indicator {
  position: absolute;
  left: 0;
  bottom: 0;
  height: 4px;
  transition: 0.4s;
  height: 5px;
  z-index: 1;
  border-radius: 8px 8px 0 0;
}

body {
  color: #ffffff;
  font-weight: normal;
  text-align: center;
  height: 100vh;
  width: 100%;
  justify-content: center;
  align-items: center;
  padding: 0 20px;
  background: rgb(29, 28, 95);
}

section {
  text-align: justify;
}

/* id en CSS #id {} */

h1 {
  color: white;
  font-size: 40px;
  text-align: center;
}

h2 {
  color: #40c50b;
  font-size: 26px;
  font-style: italic;
  text-align: center;
}

/* class para mi h2 - float left para 
que no se junte con el menu. o clear:both; */

/* class va con .class en CSS */
.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
}
